
header {
  height: 100vh; 
  width: 100%; 
  background-image: url(../../assets/img/opaca.jpg) ;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
i{
    color: #fff;
}

header {
  background-color: rgba(0, 0, 0, 0.9); 
  background-blend-mode: overlay; 
}

header > .header-top{
    display: flex;
    justify-content: center;
    width: 100%;
}

header > .header-top > h3{
    color: #20d1d8;
}

header > h1{
    font-size: 7rem;
    width: 60%;
    text-align: center;
}

header > .about-me{
    width: 45%;
    height: max-content;
    color: #7fe3cb;
    font-size: 1.5rem;
}

header .botton {
    position: relative;
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    display: inline-block;
    background: transparent;
    z-index: 1;
  }
  
  header .botton::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    border-radius: 1rem;
    background: linear-gradient(
      90deg, 
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    background-size: 400%;
    animation: borderAnimation 20s linear infinite;
  }
  
  @keyframes borderAnimation {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
  
  header .botton:hover::before {
    animation: borderAnimation 3s linear infinite;
  }
  
  header .botton i {
    color: #fff; 
  }