header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header > .header-top{
    display: flex;
    justify-content: center;
    width: 100%;
}

header > .header-top > h3{
    color: #20d1d8;
}

header > h1{
    font-size: 7rem;
    width: 60%;
    text-align: center;
}